<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubante.bullet" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ubante.bullet.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ubante.bullet.DiagonalActivity"
            android:label="@string/title_activity_diagonal" >
        </activity>
        <activity
            android:name="com.ubante.bullet.ShapeActivity"
            android:label="@string/title_activity_drawing" >
        </activity>
        <activity
            android:name="com.ubante.bullet.DrawingActivity"
            android:label="@string/title_activity_drawing" >
        </activity>
    </application>

</manifest>
